parameters:
    # NOTE: %rootDir% is `vendor/phpstan/phpstan`
    tmpDir: %rootDir%/tmp
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/Unit/Option/PipelineTest.php
        - tests/Unit/Result/PipelineTest.php
        - tests/Unit/PipelineTest.php
